<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.novigrad30">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Test_Activity"></activity>
        <activity android:name=".Class.Demande.demandeList" />
        <activity android:name=".staff.loading.loadingDemande" />
        <activity android:name=".client.dialogbox.dialogChoice" />
        <activity android:name=".client.dialogbox.dialogRating" />
        <activity android:name=".client.functions.listAsked" />
        <activity android:name=".client.rating" />
        <activity android:name=".client.dialogbox.DialogServiceLooking" />
        <activity android:name=".client.functions.lookingType" />
        <activity android:name=".client.loading.LoadingLookingSuccursale" />
        <activity android:name=".Class.Succursale.Succursale_List" />
        <activity android:name=".administrator.functions.GererSuccursale" />
        <activity android:name=".administrator.loading.loadingGestionSuccursale" />
        <activity android:name=".client.List.Client_List" />
        <activity android:name=".administrator.functions.GererClient" />
        <activity android:name=".administrator.loading.loadingGestionClient" />
        <activity android:name=".staff.functions.VoirDemandes" />
        <activity android:name=".staff.functions.VoirServices" />
        <activity android:name=".staff.functions.SupprimerServiceSuccursale" />
        <activity android:name=".staff.dialogbox.HeureDialog" />
        <activity android:name=".staff.functions.AjoutHeureSuccursale" />
        <activity android:name=".client.PortailClient" />
        <activity android:name=".client.dialogbox.ServiceDialogue" />
        <activity android:name=".HeureDeTravail" />
        <activity android:name=".staff.functions.AddServiceSuccursale" />
        <activity android:name=".client.functions.Form" />
        <activity android:name=".client.functions.Pc_form" />
        <activity android:name=".client.functions.GettingDocs" />
        <activity android:name=".client.functions.SelectionServicesClients" />
        <activity android:name=".staff.PortailSuccursale" />
        <activity android:name=".loading.loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".updateDialogue" />
        <activity android:name=".administrator.functions.changerService" />
        <activity android:name=".administrator.loading.ModifyService" />
        <activity android:name=".SeeSeriveActivity" />
        <activity android:name=".Class.Staff.EmployeRg" />
        <activity android:name=".Class.Client.ClientRg" />
        <activity android:name=".SignUPRedirection" />
        <activity android:name=".ListesDesServices" />
        <activity android:name=".administrator.functions.SuppressionDeServices" />
        <activity android:name=".ModifierLesServices" />
        <activity android:name=".administrator.functions.AjoutServices" />
        <activity android:name=".administrator.PortailAdministrateur" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>